<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Imane Tahri</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if(title == "Home") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</span></a>
          </li>

          <% if(title == "About") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/about"><i class="fas fa-user"></i> About Us</a>
          </li>

          <% if(title == "Projects") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/projects"><i class="fas fa-th"></i> Projects</a>
          </li>

          <% if(title == "Services") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/services"><i class="fas fa-people-carry"></i> Services</a>
          </li>

          <% if(title == "Contact") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/contact"><i class="fas fa-phone"></i> Contact</a>
          </li>

        </ul>
      </div>
    </nav>
  </header>


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>

    <div class="container">
      

      <div class="card mb-3 w-100" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Assets/images/profile.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1>Short Bio</h1>
              <p class="card-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur asperiores vero hic recusandae quisquam quas veritatis aliquid voluptas deserunt unde reiciendis deleniti amet dolorum adipisci commodi perferendis atque, sed quibusdam!</p>
              
              <h2 class="mb-3">Things I Like:</h2>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
              </ul>

              <a href="/Assets/" class="btn btn-primary btn-lg mt-3">Link to Resume</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    

  </main>

  <footer>
    <nav class="navbar navbar-light bg-light">
      <h6 class="display-6 navbar-text">&copy; Copyright <%= new Date().getFullYear();%> All Rights Reserved</h6>
    </nav>
  </footer>

  
    <!-- JS SCRIPTS -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>