<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Imane Tahri</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if(title == "Home") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</span></a>
          </li>

          <% if(title == "About") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/about"><i class="fas fa-user"></i> About Us</a>
          </li>

          <% if(title == "Projects") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/projects"><i class="fas fa-th"></i> Projects</a>
          </li>

          <% if(title == "Services") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/services"><i class="fas fa-people-carry"></i> Services</a>
          </li>

          <% if(title == "Contact") { %> 
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/contact"><i class="fas fa-phone"></i> Contact</a>
          </li>

        </ul>
      </div>
    </nav>
  </header>


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
          <form>
            <div class="form-row align-items-center">
  
              <div class="w-100">
                <label class="sr-only" for="fullName">Full Name</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="fullName" placeholder="Full Name" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="email">Email</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-at"></i></div>
                  </div>
                  <input type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="telNumber">Phone Number</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-phone"></i></div>
                  </div>
                  <input type="text" class="form-control" id="telNumber" placeholder="Phone Number" required>
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="message">Your Message (Optional)</label>
                <textarea class="form-control" id="message" rows="3" cols="50"></textarea>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-auto mx-auto d-block">
                <button type="submit" class="btn btn-primary mb-2" id="sendButton"><i class="fas fa-paper-plane"></i> Send</button>
                <button type="reset" class="btn btn-warning mb-2" id="cancelButton"><i class="fas fa-window-close"></i> Cancel</button>
              </div>
            </div>

          </form>
        </div>
        <div class="col-4">

        </div>
      </div>
    </div>
    

  </main>

  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar-text">&copy; Copyright <%= new Date().getFullYear();%> All Rights Reserved</h6>
    </nav>
  </footer>

  
    <!-- JS SCRIPTS -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>